# Django/Framework Packages
django>=1.4.12,<=1.4.21
django-model-utils==1.4.0
South>=0.7.6
djangorestframework>=2.3.5,<=2.3.14
pytz>=2012h
pycrypto>=2.6

# Third Party
-e git+https://github.com/un33k/django-ipware.git@42cb1bb1dc680a60c6452e8bb2b843c2a0382c90#egg=django-ipware
