{% load i18n %}



<p>{% blocktrans %}   You can also <a class="start-timed-exam" data-ajax-url="{{enter_exam_endpoint}}" data-exam-id="{{exam_id}}" data-attempt-proctored=true data-start-immediately=false>retake the exam</a>.  {% endblocktrans %}</p>
<button type="button" name="submit-proctored-exam" class="start-timed-exam" data-ajax-url="{{enter_exam_endpoint}}" data-exam-id="{{exam_id}}" data-attempt-proctored=true data-start-immediately=false >
    {% blocktrans %}
      Re-run the Exam
    {% endblocktrans %}
</button>

