{% load i18n %}
<div class="sequence proctored-exam instructions" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      Awaiting Proctoring Installation & Set Up
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      You've chosen to take {{display_name}} as a proctored exam. You should be directed to a new window
      with installation and setup instructions. You can also <a href="#">open the installation window directly.</a>
    {% endblocktrans %}
  </p>
  <div class="proctored-exam-message">
    <h3>
    {% blocktrans %}
      Here is your unique exam code. You'll be asked for it during the setup.
    {% endblocktrans %}
    </h3>
    <h1> {{exam_code}}</h1>
    <p>
      {% blocktrans %}
        Please do not share this code. It can only be used once and it tied to your edX account.
      {% endblocktrans %}
    </p>
  </div>
</div>
<div class="footer-sequence border-b-0 padding-b-0">
  <span> {% trans "Note: Once you complete installation and set up, your timed exam will begin." %} </span>
    <p>
    {% blocktrans %}
      Please be prepared to start the exam and follow all of the guidelines of an edX proctored exam.
    {% endblocktrans %}
  </p>
  <p class="proctored-exam-option">
    {% blocktrans %}
      Don't want to take this as a proctored exam? <a href="#">Take this as an open exam instead.</a>
    {% endblocktrans %}
  </p>
</div>
{% include 'proctoring/seq_proctored_exam_footer.html' %}

<script type="text/javascript">
  $('.start-timed-exam').click(
    $(document).ready(
      setTimeout(
        function(){
          $.ajax('api/edx_proctoring/v1/')
        }, 5000
      );
    );
    function(event) {
      var action_url = $(this).data('ajax-url');
      var exam_id = $(this).data('exam-id');
      var attempt_proctored = $(this).data('attempt-proctored');
      var start_immediately = $(this).data('start-immediately');
      if (typeof action_url === "undefined" ) {
        return false;
      }
      $.post(
        action_url,
        {
          "exam_id": exam_id,
          "attempt_proctored": attempt_proctored,
          "start_clock": start_immediately
        },
        function(data) {
          // reload the page, because we've unlocked it
          location.reload();
        }
      );
    }
  );
</script>
