{% load i18n %}
<div class="sequence timed-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      This is the end of your timed exam
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      Make sure your responses and work are ready to be submitted. Once they are, you may end the exam below
      and your worked will then be graded.
    {% endblocktrans %}
  </p>
  <button type="button" name="submit-timed-exam" >
    {% blocktrans %}
      I'm ready! Submit my answers and end my timed exam
    {% endblocktrans %}
  </button>
</div>
