{% load i18n %}
<div class="sequence proctored-exam instructions" data-exam-id="{{exam_id}}" data-exam-started-poll-url="{{exam_started_poll_url}}">
  <h3>
    {% blocktrans %}
      Awaiting Proctoring Software Installation and Setup
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      You have chosen to take {{display_name}} as a proctored exam. You should be directed to a new window
      with installation and setup instructions. You can also <a href="{{software_download_url}}" target="_blank">open the installation window directly.</a>
    {% endblocktrans %}
  </p>
  <div class="proctored-exam-message">
    <h3>
    {% blocktrans %}
      Here is your unique exam code. You will be asked for it during the setup.
    {% endblocktrans %}
    </h3>
    <h2> {{exam_code}}<span class='copy-to-clipboard'></span></h2>
    <p>
      {% blocktrans %}
        Do not share this code. It is linked to your {{platform_name}} account and can be used only once.
      {% endblocktrans %}
    </p>
  </div>
</div>
<div class="footer-sequence border-b-0 padding-b-0">
  <span>
    {% blocktrans %}
      Note: As soon as you finish installing and setting up the proctoring software,
      you will be prompted to start your timed exam.
    {% endblocktrans %}
   </span>
    <p>
    {% blocktrans %}
      Be prepared to start your exam and to complete it while adhering to the {{platform_name}}
      rules for online proctoring.
    {% endblocktrans %}
  </p>
  <p class="proctored-exam-instruction">
      {% trans "Don't want to take this exam with online proctoring?" %}<a class="proctored-decline-exam" href='#' data-action="decline" data-exam-id="{{exam_id}}" data-change-state-url="{{change_state_url}}">
        {% trans "Take this exam as an open exam instead." %}
      </a>
  </p>
</div>
{% include 'proctoring/seq_proctored_exam_footer.html' %}

<script type="text/javascript">

  var _waiting_for_proctored_interval = null;

  $('.proctored-decline-exam').click(
    function(e) {
      e.preventDefault();
      e.stopPropagation();

      var action_url = $(this).data('change-state-url');
      var exam_id = $(this).data('exam-id');
      var action = $(this).data('action')

      var msg = gettext(
        "Are you sure you want to take this exam without proctoring? " +
        "This will make you no longer eligible to earn credit for this course."
      )
      if (!confirm(msg)) {
        return;
      }

      // Update the state of the attempt
      $.ajax({
        url: action_url,
        type: 'PUT',
        data: {
          action: action
        },
        success: function() {
          // Reloading page will reflect the new state of the attempt
          location.reload()
        }
      });
    }
  );

  $(document).ready(function(){

    var hasFlash = false;
    try {
      var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
      if (fo) {
        hasFlash = true;
      }
    } catch (e) {
      if (navigator.mimeTypes
            && navigator.mimeTypes['application/x-shockwave-flash'] != undefined
            && navigator.mimeTypes['application/x-shockwave-flash'].enabledPlugin) {
        hasFlash = true;
      }
    }

    if (hasFlash) {
      $('.copy-to-clipboard').html(
        '<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" \
        width="110" \
        height="14" \
        id="clippy" > \
          <param name="movie" value="/static/proctoring/clippy.swf"/> \
          <param name="allowScriptAccess" value="always" /> \
          <param name="quality" value="high" /> \
          <param name="scale" value="noscale" /> \
          <param NAME="FlashVars" value="text={{exam_code}}"> \
          <param name="bgcolor" value="#F2F4F5"> \
          <embed src="/static/proctoring/clippy.swf" \
            width="110" \
             height="14" \
             name="clippy" \
             quality="high" \
            allowScriptAccess="always" \
            type="application/x-shockwave-flash" \
            pluginspage="http://www.macromedia.com/go/getflashplayer" \
            FlashVars="text={{exam_code}}" \
            bgcolor="#F2F4F5" \
          /> \
        </object>'
      );
    }

    _waiting_for_proctored_interval = setInterval(
      poll_exam_started,
      5000
    );
  });

  function poll_exam_started() {
    var url = $('.instructions').data('exam-started-poll-url')
    $.ajax(url).success(function(data){
      if (data.status === 'ready_to_start') {
        if (_waiting_for_proctored_interval != null) {
          clearInterval(_waiting_for_proctored_interval)
        }
        // we've state transitioned, so refresh the page
        // to reflect the new state (which will expose the test)
        location.reload();
      }
    });
  }

</script>
