{% load i18n %}
<div class="sequence proctored-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      You have submitted your timed exam
    {% endblocktrans %}
  </h3>

  <h4>
    {% blocktrans %}
      Your timed exam status: <b> Completed </b>
    {% endblocktrans %}
  </h4>
  <hr>
  <p>
    {% blocktrans %}
      As you have submitted your exam, you will not be able to re-enter it. Your grades for this timed exam will be immediately available on the <a href="{{progress_page_url}}">Progress</a> page.
    {% endblocktrans %}
  </p>
</div>
