{% load i18n %}
<div class="footer-sequence">
  <h4> {% trans "Can I request additional time to complete my exam? " %} </h4>
    <p>{% blocktrans %}
      If you have disabilities or are taking the exam in difficult conditions,
      you might be eligible for additional time allowance on timed exams.
      Ask your instructor or course staff for information about additional time allowances.
      Please see <a href="#">
        our frequently asked questions about timed exams and more policies.
      </a>
    {% endblocktrans %}
  </p>
</div>
