{% load i18n %}
<div class="faq-proctoring-exam">
  <h4> {% trans "See Also" %} </h4>
    <p>
    {% blocktrans %}
      <a class="footer-link" href="{{link_urls.get('faq','#')}}">
        Frequently asked questions about proctoring and earning college credit.
      </a>
      <a class="footer-link" href="{{link_urls.get('online_proctoring_rules','#')}}">
        Online proctoring rules
      </a>
      <a class="footer-link" href="{{link_urls.get('tech_requirements','#')}}">
        Technical Requirements for taking a proctored exam
      </a>
    {% endblocktrans %}
  </p>
</div>
