{% load i18n %}
<div class="critical-time sequence proctored-exam entrance" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      You did not complete the exam in the allotted time
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      You are not eligible to receive credit for this exam because you did not submit
      your exam responses before time expired. Other work that you have completed in this
      course contributes to your final grade. See the <a href="{{progress_page_url}}">Progress page</a>
      for your current grade in the course.
    {% endblocktrans %}
  </p>
  <div class="proctored-exam-message">
    <p>
      {% blocktrans %}
        Other work that you have completed in this course contributes to your final grade.
      {% endblocktrans %}
    </p>
  </div>
</div>
{% include 'proctoring/seq_timed_exam_footer.html' %}
