{% load i18n %}

<p>
    {% blocktrans %}
        Hi {{ username }},
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
        Your proctored exam "{{ exam_name }}" in
        <a href="{{ course_url }}">{{ course_name }}</a> was reviewed and the
        team found one or more violations of the proctored exam rules. As a result of the
        following violation(s),
    {% endblocktrans %}
    {% if comments %} “{{comments}}“{% endif %}
    {% blocktrans %}
        you did not successfully meet the proctored exam requirements and you will no
        longer be eligible for academic credit.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
        If you would like to appeal this decision, please reply directly to this email
        with an explanation of the violations listed above. You may appeal this decision
        within 75 days of when this email was sent.
    {% endblocktrans %}
</p>
