{% load i18n %}
<div class="sequence proctored-exam instructions message-left-bar" data-exam-id="{{exam_id}}" data-exam-started-poll-url="{{exam_started_poll_url}}">

    <div class="">
        <h3>
            {% blocktrans %}
                Complete verification prior to starting your proctored exam.
            {% endblocktrans %}
        </h3>
        <p>
            {% blocktrans %}
                In order to start your proctored exam, you must successfully complete identity verification.
            {% endblocktrans %}
        </p>
        {% if verification_status == 'pending' %}
            <p>
                {% blocktrans %}
                    Your verification is currently pending. You should expect to hear back in 2-3 days
                    from submitting your verification.
                {% endblocktrans %}
            </p>
        {% elif verification_status == 'must_reverify' %}
            <p>
                {% blocktrans %}
                    Your verification attempt failed. Please retry verification after reading
                    our guidelines to ensure you successfully complete verification.
                {% endblocktrans %}
            </p>
            <div>
                <a href="{{ reverify_url }}" class="reverify-url btn-pl-primary">
                    {% trans "Retry Verification" %}
                </a>
            </div>
        {% elif verification_status == 'expired' %}
            <p>
                {% blocktrans %}
                    Your verification has expired. Please retry verification after reading
                    our guidelines to ensure you successfully complete verification.
                {% endblocktrans %}
            </p>
            <div>
                <a href="{{ reverify_url }}" class="reverify-url btn-pl-primary">
                    {% trans "Retry Verification" %}
                </a>
            </div>
        {% else %}
            <p>
                {% blocktrans %}
                    Make sure you have valid photo identification, such as a driver's license
                    or passport, before you continue.
                {% endblocktrans %}
            </p>
            <div>
                <a href="{{ reverify_url }}" class="reverify-url btn-pl-primary">
                    {% trans "Continue to Verification" %}
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% include 'proctored_exam/footer.html' %}

<script type="text/javascript">

    var accessible_error = function(message) {

        accessible_modal("#accessible-error-modal #confirm_open_button",
                "#accessible-error-modal .close-modal", "#accessible-error-modal", ".content-wrapper");
        $("#accessible-error-modal #confirm_open_button").click();
        $("#accessible-error-modal .message-title").html(message);
        $("#accessible-error-modal .ok-button").html(gettext("OK"));
    };

    $('.proctored-decline-exam').click(
            function(e) {
                e.preventDefault();
                e.stopPropagation();

                var action_url = $(this).data('change-state-url');
                var exam_id = $(this).data('exam-id');
                var action = $(this).data('action');

                var msg = gettext(
                        "Are you sure you want to take this exam without proctoring? " +
                        "You will no longer be eligible to use this course for academic credit."
                );
                if (!confirm(msg)) {
                    return;
                }

                // Update the state of the attempt
                $.ajax({
                    url: action_url,
                    type: 'PUT',
                    data: {
                        action: action
                    },
                    success: function() {
                        // Reloading page will reflect the new state of the attempt
                        location.reload();
                    }
                });
            }
    );


    function check_exam_started() {
        var url = $('.instructions').data('exam-started-poll-url') + '?sourceid=instructions';
        $.ajax(url).success(function(data){
            if (data.status === 'ready_to_start') {
                // we've state transitioned, so refresh the page
                // to reflect the new state (which will expose the test)
                location.reload();
            }
            else {
                // The proctoring setup is not yet complete.
                // Show a modal indicating that the user is not done yet.
                accessible_error(gettext("You must complete the proctoring setup before you can start the exam."));
            }
        });
    }

    $("#accessible-error-modal .cancel-button").click(function(){
        $("#accessible-error-modal .close-modal").click();
    });
    $("#accessible-error-modal .ok-button").click(function(){
        $("#accessible-error-modal .close-modal").click();
    });
    $('.start-proctored-exam').click(check_exam_started);

    $("#software_download_link").click(function (e) {
        e.preventDefault();
        var url = $('.instructions').data('exam-started-poll-url');
        var action = $(this).data('action');
        // open the new tab in the click event with an empty URL but show the message.
        var newWindow = window.open("", "_blank");
        $(newWindow.document.body).html("<p>Please wait while you are being redirected...</p>");

        var self = this;
        $.ajax({
            url: url,
            type: 'PUT',
            data: {
                action: action
            },
            success: function (data) {
                newWindow.location = "{{software_download_url}}";
            }
        }).fail(function(){
            newWindow.close();
        });
    });

</script>
