{% load i18n %}
<div class="sequence proctored-exam instructions message-left-bar" data-exam-id="{{exam_id}}" data-exam-started-poll-url="{{exam_started_poll_url}}">

  <div class="">
    <h3>
    {% blocktrans %}
      Follow these steps to set up and start your proctored exam.
    {% endblocktrans %}
    </h3>
    <p>
      {% blocktrans %}
        1. Copy this unique exam code. You will be prompted to paste this code later before you start the exam.
      {% endblocktrans %}
    </p>
    <p>
      <span class="proctored-exam-code">{{exam_code}}</span>
    </p>
    <p>
      {% blocktrans %}
        Select the exam code, then copy it using Command+C (Mac) or Control+C (Windows).
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        2. Follow the link below to set up proctoring.
      {% endblocktrans %}
    </p>
    <p>
      <span><a href="#" id="software_download_link" data-action="click_download_software" target="_blank">Start System Check</a></span>
    </p>
    <p>
      {% blocktrans %}
        A new window will open. You will run a system check before downloading the proctoring application.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
        You will be asked to verify your identity before you begin the exam. Make sure you have valid photo identification, such as a driver's license or passport, before you continue.
      {% endblocktrans %}
    </p>
  </div>
</div>
<div class="footer-sequence border-b-0 padding-b-0">
  {% if not is_sample_attempt %}
  <p class="proctored-exam-instruction">
      {% trans "Don't want to take this exam with online proctoring?" %}<a class="proctored-decline-exam" href='#' data-action="decline" data-exam-id="{{exam_id}}" data-change-state-url="{{change_state_url}}">
        {% trans "Take this exam as an open exam instead." %}
      </a>
  </p>
  {% endif %}
</div>
{% include 'proctored_exam/footer.html' %}

<script type="text/javascript">

  var _waiting_for_proctored_interval = null;

  $('.proctored-decline-exam').click(
    function(e) {
      e.preventDefault();
      e.stopPropagation();

      var action_url = $(this).data('change-state-url');
      var exam_id = $(this).data('exam-id');
      var action = $(this).data('action');

      var msg = gettext(
        "Are you sure you want to take this exam without proctoring? " +
        "You will no longer be eligible to use this course for academic credit."
      );
      if (!confirm(msg)) {
        return;
      }

      // Update the state of the attempt
      $.ajax({
        url: action_url,
        type: 'PUT',
        data: {
          action: action
        },
        success: function() {
          // Reloading page will reflect the new state of the attempt
          location.reload();
        }
      });
    }
  );

  $(document).ready(function(){
    _waiting_for_proctored_interval = setInterval(
      poll_exam_started,
      5000
    );
  });

  function poll_exam_started() {
    var url = $('.instructions').data('exam-started-poll-url') + '?sourceid=instructions';
    $.ajax(url).success(function(data){
      if (data.status === 'ready_to_start') {
        if (_waiting_for_proctored_interval != null) {
          clearInterval(_waiting_for_proctored_interval)
        }
        // we've state transitioned, so refresh the page
        // to reflect the new state (which will expose the test)
        location.reload();
      }
    });
  }

  $("#software_download_link").click(function (e) {
    e.preventDefault();
    var url = $('.instructions').data('exam-started-poll-url');
    var action = $(this).data('action');
    // open the new tab in the click event with an empty URL but show the message.
    var newWindow = window.open("", "_blank");
    $(newWindow.document.body).html("<p>Please wait while you are being redirected...</p>");

    var self = this;
    $.ajax({
      url: url,
      type: 'PUT',
      data: {
        action: action
      },
      success: function (data) {
        newWindow.location = "{{software_download_url}}";
      }
    }).fail(function(){
      newWindow.close();
    });
  });

</script>
