{% load i18n %}
<div class="sequence proctored-exam completed" data-exam-id="{{exam_id}}">
  <h3>
    {% blocktrans %}
      You have submitted this proctored exam for review
    {% endblocktrans %}
  </h3>
  <p>
    {% blocktrans %}
      If the proctoring software window is still open, you can close it now. Confirm that you want to quit the application when you are prompted.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}
      &#8226; After you quit the proctoring session, the recorded data is uploaded for review. </br>
      &#8226; Proctoring results are usually available within 5 business days after you submit your exam.
    {% endblocktrans %}
  </p>

  {% include 'proctored_exam/visit_exam_content.html' %}

  <p>
    {% blocktrans %}
      If you have questions about the status of your proctored exam results, contact {{ platform_name }} Support.
    {% endblocktrans %}
  </p>
</div>
{% include 'proctored_exam/footer.html' %}
