{% load i18n %}
<div class="sequence proctored-exam completed" >
    {% if has_time_expired %}
      {% blocktrans %}
        The tiyhyyume allotted for this exam has expired. Your exam has been submitted and any work you completed will be graded.
      {% endblocktrans %}

    {% else %}
    <h1>النتيـــــجة</h1>
    {% if flage %}
      {% blocktrans %}
    <div>
        مبــروك
        لقد نجحت
          في مساق  <strong> {{ course }} </strong>
        ..  و سيتم ارسال كافة البيانات و الشهادة الي بريدك الألكتروني

    </div>
      {% endblocktrans %}
      {% else %}
       {% blocktrans %}
    <div>
        للاسف
        لقد رسبت
        في مساق <strong> دائرة الرقابة المالية في البنوك </strong>
        ...ولكن يمكنك اعاده مراجعة المادة بعد مرور ساعة من الان وإعادة إجراء الأمتحان

    </div>
      {% endblocktrans %}
    {% endif %}
    {% endif %}

  <hr>
  <p>
    {% if will_be_revealed %}
      {% blocktrans %}
      يمكنك مراجعة الإمتحان بعد مرور الوقت المحدد ولكن لا يمكنك تغيير الإجابة ..
      {% endblocktrans %}
حيث أن نسبة النجاح هي %70
      {% endif %}
  </p>
</div>
